
		
			body{
				font-family: Microsoft JhengHei, Gotham;
				color:#595942;
				padding-top:70px;
				padding-bottom:70px;			
			}
			span {
				font-size: 10pt;
				margin: 0px 0px 5px 0px;
				color:#DCE6D2; 
			}

			.navbars{
				background-color: #3C9682;
			}

			.item-color{
				color:#DCE6D2;
			}
			.item-color:hover{
				color:#FFFFFF;
				font-size:border;
				text-decoration:none;
			}
			.area50{
				margin-top: 50px;
			}
			.area20{
				margin-top: 10px;
				margin-buttom: 10px;
			}
			.area70{
				margin-top: 70px;
				margin-buttom: 35px;
			}
			
			.mgrb{
				margin: 10px ;
			}
			
			.btn-green{
				background:#3C9682; 
				color:#FFFFFF;
				margin-right: 15px;
			}
			.btn-green-rvs{
				background-color:#FFFFFF; 
				border:1px solid #3C9682;
				color:#3C9682;
				margin-right: 15px;
			}
			.btn-green:hover{
				background:#DCE6D2; 
				color:#3C9682;
				font-weight:border;
				border:1px solid #FFFFFF;
			}

			.btn-org{
				background: #FA5532;
				color:#FFFFFF;
			}
			.btn-org:hover{
				background: #FA5532;
				color:#FFFFFF;
			}

			.icons{
				padding:0px 10px 0px 0px;
			}

			.imgsize{
				border-radius: 100px;
			}

			.funcbtn-normal{
				color:#3C9682;
			}

			.panelheight{
				border-color: #CCCCCC;				
				height:1500px;  
			}
			.btn-green-group{
				background:#3C9682;
				color:#FFFFFF;
			}			
			.table {				
				background-color: white;
				margin-top: 5px;
				margin-bottom: 100px;
			}
			
			th, td {
			  padding: 5px;
			  text-align: center;
			  vertical-align:middle;
			}
			
			.active{
				background-color:#3C9682;
			}
			
			.page-brand{
				margin-left: 45px;
			}
						
			a:hover{
				text-decoration:none;	
			}


	
